<!-- <app-child [user]="user"></app-child>

<button (click)="changeProperty()">Change Property</button>
<button (click)="changeObject()">Change Object</button> -->

<app-one></app-one>
<app-two></app-two>

<hr>
<h4>
  Pipes
</h4>

<ul class="list-group">
  <li class="list-group-item">Date without the Pipe: {{ this.dateToday }}</li>
  <li class="list-group-item">Date with the Pipe: {{ this.dateToday | date }}</li>
  <li class="list-group-item">Date with the Pipe and Params: {{ this.dateToday | date:'full' | lowercase }}</li>
  <li class="list-group-item">Date with the Pipe and Params: {{ this.dateToday | date:'full' | uppercase }}</li>
</ul>

